<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160328004-Quart2D-CleanImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5AD5FB71CA92D8B00C645B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5AD5FD01CA92D8B00C645B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5AD5FDB1CA92D8B00C645B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
